body {
	background: gray;
	
}

img {
	padding: 20px;

}

h1 {
	color: white;
	text-align: center;
}

input {
	padding: 5px;
	margin: 5px;
}

.routeTable {
	padding: 10px;
	margin: 20px;
	font-size: 18px;

}

#introduction {
	font-size: 16px;
	font-family: Arial;
}

a:hover {
	font-weight: bold;
}

a {
	font-size: 20px;
	color: #EE7600;
}

label {
	color: blue;
}

input {
	align: right;
}

th {
	font-size: 24px;
}


#motivate {
	font-size: 16px;
	font-family: Arial;
}

p {
	font-size: 18px;
}


footer:before {
	content: "Copyright 2016 - Damon P. Young";
}

footer {
	text-align: center;
}

header {
	text-align: center;
}

#comments {
	width: 100%;
}

.quote {
	font-size: 16px;
	font-style: italic;
}

.jumbotron {
	background-image: url("Running-Wallpaper-HD.jpg");
	background-size: 100% 100%;
}

.jumbotron  h1 {
	color: white;
	text-align: center;
}